*{
    margin: 0;
    padding: 0;
}


@media (min-width: 576px) and (max-width: 767.98px) {
    #meuInicial{
        background: rgba(0, 183, 255, 0.521);
    }

    #meuInicial  h1  {
        
        max-width: 94%;
        margin-right: 15%;
        color: rgb(255, 255, 255);    
        text-align: center;
    }
    nav{
       
        margin-top: 29px;
    }

    .submit-line input {
        
        max-width: 450px;
        height: 40px;
    }
    #nav2 {
      margin-right: 22%;
    }
    #titulo-busca{
      
    
    }

}   



#meuInicial{
    top: 0;
    max-width: 100%;
    overflow: hidden;
   display: block;
   font-size: 25px;
    border: solid 1px black;
    text-align: center;
    padding-top: 2px;
}


.container {
    padding-right: 15px;
        padding-left: 15px;
     margin-right: auto;
    margin-left: auto;

}





#nav .container{
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}

#nav .bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  #nav .change .bar1{
      -webkit-transform: rotate(-45deg) translate(-9px,6px);
      transform: rotate(-45deg) translate(-9px, 6px);
  }

  #nav .change .bar2{
      opacity: 0;
  }

  #nav .change .bar3{
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
  }

#nav2 .switch-menu-container{
    margin-left: 93%;
    
}
 
input[type="checkbox"]{
    width: 50px;
    height: 20px;
    appearance: none;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border:solid 2px;
    cursor: pointer;
    transition: .4s;
    position: relative;
  
}

input:checked[type="checkbox"]{
    background-color: rgb(249, 250, 249);
    
}

input[type="checkbox"]::before{
    content: '';
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50px;
    position: absolute;
    top:0;
    left: 0;
    transform: scale(1.1);
    transition: .4s;
    

}

input:checked[type="checkbox"]::before{
    left: 29px;
    
}


input[type=text]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
     border: 1px solid black;
     color: black;
     width: 1150px;
     height: 300px;
     padding-left: 10px;
     margin-top: 2px;
     
     display: inline-block;
     content: '';
     vertical-align: -.125em;
    
     padding-left:40px ;
     
    }


    
input[type=text]:focus {
     outline: none;
     border: 1px solid black;
     color: black;
     
}

#titulo-busca{
    width: 1150px;
    
}






.submit-lente {
    position: absolute;
    top:0; right:2;
    z-index:10;
    border:none;
    background:transparent;
    outline:none;
    
     
  }
  
  .submit-line {
    position: relative;
    width: 205px;
  }

  .submit-line input {
    width: 550%;
    height: 800%;
  }

  .grid-template-columns{
      grid-template-columns:1fr 1fr 1fr;
  }


.grid{
    display: grid;
}
  
.item{
      margin: 50px;
     
      text-align: center;
      font-size: 1.5em;
  }




.pagination{
 

}

.pagination a{
   border: 1px solid black;
   font-size: 20px;
   
}




.pagination li > a{
    background-color: white;
    color: black;
}

.pagination{
    margin-top: 70px;    
    display: flex;
    justify-content: center;
 
}

#dropdownMenuLink{ /*filtro*/
    position: absolute;
    margin-left: 220px;
    margin-top: 25px;
    background: #fff;
    color:black;

}


#Adicionando{
    position: absolute;
    margin-left: 975px;
    margin-top: 25px;
    background: #fff;
    border: 1px solid black;
    color: black;
  
    
}

#editar{
    margin-top: 15px;
    position: absolute;
    background: #fff;
    border: 1px solid black;
    color: black;
    
}

#remover{
    margin-top: 15px;
    position: absolute;
    background: #fff;
    border: 1px solid black;
    color: black;
    margin-left: 49px;

}


.grid{
    display: grid;

    margin: 0px;
    padding: 0px;
    grid-template-areas: "h h h"
                      
                        
}


/* estilos dos modais */

#modalEdicaoProduto #infoProduto{
    width: 50%;
    height: 5%;

}

#modalEdicaoProduto #infoDescricao{
    width: 50%;
    height: 5%;
}

#modalEdicaoProduto #infoValorProduto{
    width: 50%;
    height: 5%;
}
#modalEdicaoProduto #infoQtdProduto{
    width: 50%;
    height: 5%;
}