*{
    margin: 0;
    padding: 0;
}

#menuInicial{
    top: 0;
    font-size: 25px;
    background: rgba(0, 183, 255, 0.521);
    text-align: center;
    padding-top: 2px;

}

#formularioCadastro {
   margin-top: 100px;

   
}

#inputProduto{
    border: solid 1px black;
    margin-bottom: 50px;
}

#inputDescricao{
    border: solid 1px black;
}

#valor{
    border: solid 1px black
}
#currency{
    border: solid 1px black;
}

#inputQtd {
    border: solid 1px black;
}

#qtdproduto{
   margin-left: 500px;
  
}


/*formatação que serve para ambos os botões*/
#bottom-finish{
    margin-top: 100px;
    position: absolute;
}

/*botões de cancelar*/
#cancelar{
    background: #fff;
    background: rgba(0, 183, 255, 0.521);
    width: 200px;
    height: 50px;
    color: black;

}


/*botao de adicionar Produto*/
#addproduto{
    margin-left: 590px;
    background: #fff;
    background: rgba(0, 183, 255, 0.521);

    width: 200px;
    height: 50px;
    color: black;
}

#exclamacao{
    text-align: center;
}


/*estilos do modal sim e nao*/
#modalbuttom{
    margin-top: 100px;
}

#modalSim{
    margin-left: 150px;
    background: #fff;
    border: solid 1px black;
    color: black;

}

#modalNao{
    background: #fff;
    border: solid 1px black;
    color: black;
}